@{
    ViewBag.Title = "درباره ما";

    //var i = 1;
    //var isMan = true;
    //var isAuth = false;
    
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

@*@section styles{
    @Styles.Render("~/Content/Superhero-bootstrap.css")
}*@

@*<h2>Aboute</h2>

@if (isMan == true)
{
    while (i <= 10)
    {
        <h2>hello manager</h2>
        i++;
    }
}*@

@*<ol>
        @foreach (var item in Request.ServerVariables)
        {
       <li>@item</li>
        }
    </ol>*@

@*<a href="@Url.Action("Home/Index")" target="_blank">
    <h3 class="glyphicon glyphicon-home">صفحه اصلی</h3>
</a>*@


<p>Use this area to provide additional information.</p>


@*@section styles{
<link href="~/Content/Superhero-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/respond.js"></script>
    @Styles.Render("~/Content/Superhero-bootstrap.css")
    }

    @section styles{
<script src="~/Scripts/respond.js"></script>
        @Scripts.Render("~/Scripts/respond.js")
@Scripts.Render("~/bundles/jqueryval")
    }*@


@using (Html.BeginForm("SetLayout", "Home"))
{
    @Html.Label("layout", "Select Your Theme : ")
    @Html.DropDownList(
            "layout",
            new List<SelectListItem> {
                new SelectListItem {Text = "Red" , Value = "Red" },
                new SelectListItem {Text = "Green" , Value = "Green" },
                new SelectListItem {Text = "Blue" , Value = "Blue" }
            },
            new { onchange = "this.form.submit()" }
        )
}










@Html.Partial("_testPartial")