
@*@model IEnumerable<Dynamic>*@
@*@model int*@

@{
    ViewBag.Title = "تماس با ما";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@section styles{
<link href="~/Content/toastr.min.css" rel="stylesheet" />

}


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

@*<h1>@Model.Name</h1>*@

@*@foreach (var item in Model)
    {
        <p>@item.Name</p>
            <p>@item.Id &nbsp;&nbsp;-&nbsp;&nbsp; @item.Name</p>
    }*@


@*<form action="/Home/ProcessForm" method="post">
    نام: <input type="text" name="firstname" />
    <br />
    نام خانوادگی: <input type="text" name="lastname" />
    <br />
    <button type="submit">
        ثبت نام
    </button>
</form>*@

@using (Html.BeginForm("SendMail","Home"))
{
    <div class="form-group">
        @Html.Label("Name","نام :")
        @Html.TextBox("Name", null,new {@class="form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Email", "ایمیل :")
        @Html.TextBox("Email", null, new { @class = "form-control",type="email" })
    </div>

    <div class="form-group">
        @Html.Label("Subject", "موضوع :")
        @Html.TextBox("Subject", null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Body", "پیام :")
        @Html.TextArea("Body", null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            send
            <span class="glyphicon glyphicon-send"></span>
        </button>
    </div>
}

@section scripts{
<script src="~/Scripts/toastr.min.js"></script>
    <script>
       if (@ViewBag.Status==1) {
            toastr.success("با تشکر از شما ، پیام مدنظر با موفقیت ارسال گردید.", "", {
                "progressBar": true,
                "timeOut": "10000",
                "positionClass": "toast-top-left"
            });
        }
        else {
            toastr.error("متاسفانه پیام شما ارسال نگردید؛ لطفا دوباره تلاش نمایید.", "", {
                "progressBar": true,
                "timeOut": "10000",
                "positionClass": "toast-top-left"
            });
        }
    </script>
    }