@model DigiMovie.ViewModels.CustomersFormViewModel
@{
    ViewBag.Title = "افزودن مشتری";
}

<h2>@ViewBag.Title</h2>



@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(c=>c.Customer.Name,"نام :")
        @Html.TextBoxFor(c => c.Customer.Name, null,new { @class="form-control"})
    </div>
    <div class="checkbox">
        @Html.LabelFor(c=>c.Customer.IsSubscribedToNewsLetter, "عضو خبرنامه می باشد ")
        @Html.CheckBoxFor(c=>c.Customer.IsSubscribedToNewsLetter, new { @class = "pull-right",style="margin-left:10px" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c=>c.Customer.BirthDate, "تاریخ تولد :")
        @Html.TextBoxFor(c=>c.Customer.BirthDate, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.MembershipTypeId, "نوع عضویت :")
        @Html.DropDownListFor(c => c.Customer.MembershipTypeId,
       new SelectList(Model.MembershipTypes,"Id","Name"),
       "لطفا یک مورد را انتخاب کنید",
       new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-success">
        افزودن
        <span class="glyphicon glyphicon-plus"></span>
    </button>
<a href="@Url.Action("Index")" class="btn btn-default">
    بازگشت
    <span class="glyphicon glyphicon-share"></span>
</a>
}


