
@{
    ViewBag.Title = "صفحه کارهای موقت";
    //Layout = "~/Views/Shared/_OwnerLayout.cshtml";

    //Layout = ViewBag.ThemeName;
}

<h2>Index</h2>

@*@using (Html.BeginForm())
{
    //drop down for selecting theme //onchang="this.form.submit()"
    <div class="form-group">
        @Html.Label("theme", "قالب تم :")
        @Html.DropDownList("theme", new SelectList(new List<object>{
                    new { id = 1, name = "Drakly-bootstrap" },
                    new { id = 2, name = "Slate-bootstrap" },
                    new { id = 3, name = "Solar-bootstrap" },
                    new { id = 4, name = "Superhero-bootstrap" },
                    new { id = 5, name = "United-bootstrap" }
                }, "id", "name",
                "لطفا یک قالب را انتخاب نمایید"/*, new { onchang = "this.form.submit()" }*/))
    </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-send"></span>
                تغییر قالب
            </button>
        </div>
}*@


<br /><br />

@*@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="firstname">نام:</label>
        <input type="text" name="firstname" id="firstname" class="form-control" />
    </div>
    <div class="form-group">
        <label for="lastname">نام خانوادگی:</label>
        <input type="text" name="lastname" id="lastname" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-send"></span>
            ثبت نام
        </button>
    </div>
}*@

@using (Html.BeginForm())
{
        <div class="form-group">
            @Html.Label("firstname", "نام:")
            @Html.TextBox("firstname", null, new { @class = "form-control", placeholder = "نام خود را وارد نمایید"@*, type = "number"*@, date_tooltip = "ehsan" })
        </div>
        <div class="form-group">
            @Html.Label("lastname", "نام خانوادگی:")
            @Html.TextBox("lastname", null, new { @class = "form-control", placeholder = "نام خانوادگی خود را وارد نمایید" })
        </div>
        <div class="form-group">
            @Html.Label("password", "رمز عبور:")
            @Html.Password("password", null, new { @class = "form-control", placeholder = "رمز عبور خود را وارد نمایید" })
        </div>
        <div class="form-group">
            @Html.Label("address", "آدرس:")
            @Html.TextArea("address", null, 25, 50, new { @class = "form-control" })
        </div>
        @*<div class="form-group">
            @Html.Label("agreement", "من شرایط عضویت در وب سایت را مطالعه نمودم:")
            @Html.CheckBox("agreement", true, new { @class = "form-control" })
        </div>*@
        <div class="checkbox">
            @Html.Label("agreement", "من شرایط عضویت در وب سایت را مطالعه نمودم")
            @Html.CheckBox("agreement", true, new { @class = "pull-right", style = "margin-left:10px" })
        </div>
        <div class="checkbox">
            @Html.Label("gender", "مرد")
            @Html.RadioButton("gender", 1, true, new { id = "male" })
        
            @Html.Label("gender", "زن")
            @Html.RadioButton("gender", 2, false, new { id = "fmale" })
        </div>
    <div class="form-group">
        @Html.Label("city", "محل تولد:")
        @Html.DropDownList("city", new SelectList(new List<object> {
                new { id = 1, name = "تهران" },
                new { id = 2, name = "شیراز" },
                new { id = 3, name = "ساری" },
                new { id = 4, name = "اردبیل" },
                new { id = 5, name = "خرم آباد" }
            }, "id", "name", 4, new int[1] { 1 }),
            "لطفا یک شهر را انتخاب نمایید"/*, new { onchang = "this.form.submit()" }*/)
    </div>
    <div class="form-group">
        @Html.Label("fruits", "میوه های مورد علاقه:")
        @Html.ListBox("fruits", new SelectList(new List<object> {
                new { id = 1, name = "سیب" },
                new { id = 2, name = "گلابی" },
                new { id = 3, name = "توت فرنگی" },
                new { id = 4, name = "موز" },
                new { id = 5, name = "هندوانه" }
                }, "id", "name"))
    </div>
    @Html.Hidden("currentTime", @DateTime.Now, new { })
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-send"></span>
                ثبت نام
            </button>
        </div>
    }

