<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - وب سایت دیجی مووی</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/css-admin")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("دیجی مووی", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <a href="/"><img src="/Images/digimovie.jpg" alt="دیجی مووی" title="وب سایت دیجی مووی" style="width:60px;height:50px;" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Contact","Home")"><i class="fa fa-envelope"></i> &nbsp; تماس با ما</a></li>
                    <li><a href="@Url.Action("About","Home")"><i class="fa fa-info"></i> &nbsp; درباره ما</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                            مشتریان
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Create","Customers")"><i class="fa fa-user-plus"></i>&nbsp; افزودن</a></li>
                            <li><a href="@Url.Action("Index", "Customers")"><i class="fa fa-group"></i>&nbsp; مدیریت</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-film"></i>
                            فیلم
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Create","Movies")"><i class="fa fa-user-plus"></i>&nbsp; افزودن</a></li>
                            <li><a href="@Url.Action("Index", "Movies")"><i class="fa fa-group"></i>&nbsp; مدیریت</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> &nbsp; صفحه اصلی</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>  کلیه حقوق متعلق به وب سایت دیجی مووی می باشد - 1396 &copy; </p>
        </footer>
    </div>
    @*<script>
        alert('hi');
    </script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
