@model DigiMovie.Models.Food

@{
    ViewBag.Title = "نمایش غذا";
}

<h2>@ViewBag.Title</h2>

<h4>نام :
    @Model.Name</h4>
<h4>آیا موجود است؟
    @Model.IsExsist</h4>
<h4>تعداد موجود :
    @Model.NumberAvailable</h4>
<h4>توضیحات :
    @Model.Description</h4>

<a href="@Url.Action("Index")" class="btn btn-default">
    بازگشت
    <span class="glyphicon glyphicon-share"></span>
</a>