@using DigiMovie.Models
@model IEnumerable<Food>
@{
    ViewBag.Title = "نمایش غذاها";
}

@section styles{  
<link href="~/Content/toastr.min.css" rel="stylesheet" />
    }

<h2>@ViewBag.Title</h2>

<br /><br />
<a href="@Url.Action("Creat")" class="btn btn-primary">
    بازگشت
    <span class="glyphicon glyphicon-share"></span>
</a>
<br /><br />

<table class="table table-bordered table-hover table-responsive table-striped">
    <tr>
        <th style="text-align:right">نام</th>
        <th style="text-align:right">تعداد موجود</th>
        <th style="text-align:right">نمایش جزئیات</th>
        <th style="text-align:right">حذف</th>
        <th style="text-align:right">ویرایش</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.NumberAvailable</td>
            <td>@Html.ActionLink("نمایش", "Details", "Foods",new { id=item.Id},null)</td>
            <td>@Html.ActionLink("حذف", "Delete", "Foods", new { id = item.Id }, null)</td>
            <td>@Html.ActionLink("ویرایش", "Edit", "Foods", new { id = item.Id }, null)</td>
        </tr>
    }
</table>
@section scripts{
<script src="~/Scripts/toastr.min.js"></script>
    <script>
        @*if(@TempData["CreatStat"]==1)
        {
            toastr.success("با موفقیت افزوده شد")
        }
        else if(@TempData["CreatStat"]==0)
        {
            toastr.error("افزوده نشد ... دوباره تلاش کن")
        }*@

        @*if(@TempData["DeleteStat"]==1)
        {
            toastr.success("با موفقیت حذف شد")
        }
        else if(@TempData["CreatStat"]==0)
        {
            toastr.error("حذف نشد ... دوباره تلاش کن")
        }*@

        if(@TempData["EditStat"]==1)
        {
            toastr.success("با موفقیت ویرایش شد")
        }
        else if(@TempData["CreatStat"]==0)
        {
            toastr.error("ویرایش نشد ... دوباره تلاش کن")
        }
    </script>
}